<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.ericktf.plugin.face" version="11.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>cordova_face_plugin</name><js-module name="cordova_face_plugin" src="www/cordova_face_plugin.js"><clobbers target="cordova.plugins.cordova_face_plugin" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="cordova_face_plugin"><param name="android-package" value="com.ericktf.plugin.face.cordova_face_plugin" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/cordova_face_plugin.java" target-dir="src/com/ericktf/plugin/face/cordova_face_plugin" /></platform></plugin>